.main {
  margin: 0 50px;
  background-color: whitesmoke;
}
.brand-logo {
  font-family: "Comforter", cursive;
  font-size: 30px;
  color: hotpink !important;
}
.main-header {
  font-family: "Comforter", cursive;
  font-size: 90px;
  color: hotpink;
  text-align: center;
  padding: 40px;
}
.sub-header {
  font-family: "Inconsolata", monospace;
  font-size: 64px;
  color: black;
  text-align: center;
  padding-bottom: 50px;
}

.gallery {
  padding-left: 40px;
  padding-right: 40px;
}

.thumbnail {
  width: 250px;
  border-radius: 5px;
  box-shadow: rgb(222, 218, 218) 5px 5px 5px;
}
.round-portrait {
  max-width: 250px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 50%;
}

.biography-text {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  color: black;
}

.main-links {
  font-family: "Comforter", cursive;
  font-size: 50px;
  color: black;
  text-align: center;
  padding-top: 5px;
}
.contact-link {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  color: black;
}

a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.gallery-cards {
  padding: 20px;
}
.footer {
  color: black;
  font-size: smaller;
}
.contact {
  font-family: "Inconsolata", monospace;
  color: black;
}

@media (max-width: 567px) {
  h1 {
    font-size: 75px !important;
    padding: 25px 5px !important;
  }

  h2 {
    font-size: 50px !important;
  }
  .main {
    background-color: white;
  }
}
